<div style="width: 920px; margin: 0 auto; padding-top: 20px;" *ngIf="supportsMidi">
  <mat-form-field>
    <mat-label>MIDI Device</mat-label>
    <mat-select (selectionChange)="onMidiChanged($event.value)">
      <mat-option *ngFor="let input of inputs; let i = index" value="{{i}}">{{input.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <canvas #canvasElement width="1280" height="800"></canvas>
</div>
<div style="width: 920px; margin: 0 auto; padding-top: 20px;" *ngIf="!supportsMidi">
  Your browser does not support WebMidi.
</div>